.btn-cta {
    width: 100%;
    font-family: $font-family-medium;
    color: white;
    border-radius: 8px;
    background-image: radial-gradient(
        circle,
        #ff385c 0,
        #e61e4d 27.5%,
        #e31c5f 40%,
        #d70466 57.5%,
        #bd1e59 75%,
        #bd1e59 100%
    );
    background-position: 100% 100%;
    background-position: calc((100 - var(--mouseX, 0)) * 1%) calc((100 - var(--mouseY, 0)) * 1%);
    background-size: 200% 200%;
    padding: 0.75rem;
    transition: background-position linear ease-out 2s;
}
