.modal-wrapper {
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    left: 0;
    .dark-overlay {
        top: 0;
    }

    .modal {
        padding-bottom: 24px;
        background-color: white;
        height: 100%;
        overflow-y: auto;
        position: relative;
        font-size: 16px;
        box-shadow: 0 8px 28px rgba(0, 0, 0, 0.28);
        z-index: 3;
        max-width: 1032px;

        @include for-narrow-layout {
            width: 90.5%;
            height: 90.5%;
            border-radius: 12px;
        }
    }

    .modal-header {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        position: sticky;
        top: 0;
        z-index: 3;
        background: white;
        @include for-narrow-layout {
            height: 64px;
        }

        &::after {
            @include afterSeperator;
        }
    }
    .btn-close {
        position: absolute;
        top: 16px;
        left: 22px;
        border-radius: 50%;
        &:hover {
            color: black;
            background-color: #f7f7f7;
        }
        @include for-narrow-layout {
            top: 25px;
        }
    }

    h2 {
        margin: 0;
        font-size: inherit;
        font-family: $font-family-bold;
        line-height: 1;
    }

    .children-wrapper {
        padding-inline: 24px;
        & > * {
            margin-top: 24px;
        }
    }

    .modal-footer {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        padding: 18px;
        border-top: 1px solid $light-grey;
    }
}

.login-signup-modal {
    .modal {
        height: max-content;
        width: max-content;
    }
    .login-signup > * {
        margin-top: 12px;
    }
}

.reserve-dates-modal {
    .modal {
        width: 100%;
        font-size: 14px;
    }
    .reserve-dates {
        padding: 0;
        position: static;
        box-shadow: none;
        margin-bottom: 64px;
        p {
            padding-bottom: 12px;
        }
    }
    .rdrDefinedRangesWrapper {
        display: none;
    }
    .rdrDateRangePickerWrapper {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    }
    .rdrMonth,
    .rdrCalendarWrapper {
        max-width: 650px;
        width: 100%;
        margin: 0 auto;
    }
    h2 {
        font-size: 22px;
        margin-bottom: 8px;
    }
    .modal-footer {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        padding: 18px;
        border-top: 1px solid $light-grey;
    }
    .reservation-info {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
    .nightly-price {
        font-size: 16px;
        font-family: $font-family-bold;
    }
    .rating {
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 12px;
        font-family: $font-family-medium;
        line-height: 1;
    }
    .btn-cta {
        width: max-content;
        padding-inline: 40px;
        font-size: 16px;
    }
}

.reserve-guests-modal {
    .modal {
        height: max-content;
        width: max-content;
        padding-bottom: 16px;
    }
    .children-wrapper {
        padding: 0;
    }
    .guest-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
        padding: 12px 24px;
        &:first-child {
            padding-top: 0;
        }
        &:last-child {
            padding-bottom: 24px;
        }
    }

    .guest-title {
        text-transform: capitalize;
        font-family: $font-family-bold;
    }

    .guest-desc {
        color: $sub-text-clr;
        font-size: 14px;
        line-height: 18px;
    }

    .counter {
        grid-area: 1/2/3/3;
        justify-self: end;
    }
    .modal-footer {
        position: static;
        padding: 16px 24px 0;
    }

    .btn-cancel {
        font-family: $font-family-medium;
    }
    .btn-save {
        width: 83.5px;
        margin: 0;
    }
}

.reservation-summary-modal {
    .modal {
        max-width: 700px;
        font-size: 16px;
    }
    h2 {
        font-size: 22px;
        @include for-narrow-layout {
            font-size: 28px;
        }
    }
    .host-confirmation {
        color: $sub-text-clr;
        margin-top: 8px;
        font-family: $font-family-medium;
    }
}

.contact-host-modal {
    font-size: 16px;
    .modal {
        max-width: 744px;
    }
    h2,
    h3,
    h4 {
        font-family: $font-family-medium;
    }
    h2 {
        font-size: 22px;
    }
    .host-details-container,
    .common-question {
        position: relative;
        &::after {
            @include afterSeperator;
        }
    }

    .host-details-container {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        padding-bottom: 32px;

        p {
            margin-top: 8px;
            color: $sub-text-clr;
        }
        img {
            width: 56px;
            border-radius: 50%;
        }
    }
    .common-question {
        padding-top: 32px;
        & > * {
            padding-bottom: 32px;
        }
    }

    ul {
        padding-left: 40px;
        margin-top: 16px;
    }

    .message-wrapper {
        padding-block: 32px;
    }
    h3,
    textarea {
        margin-bottom: 24px;
    }
    textarea {
        display: block;
        width: 100%;
        height: 116px;
        padding: 10px;
        border-radius: 8px;
        box-shadow: inset 0 0 0 1px $medium-grey;
        outline: none;
        border: none;
        &:focus {
            box-shadow: 0 0 0 2px $main-text-clr;
        }
        &:invalid:focus-within {
            background-color: #fff8f6;
            box-shadow: inset 0 0 0 1px #c13515;
        }
    }
    .btn-send {
        width: 100%;
        border: 1px solid #222222;
        border-radius: 0.5em;
        padding: 12px 22px;
        font-family: 'Cereal-Medium', Arial, Helvetica, sans-serif;
        @include for-narrow-layout {
            width: max-content;
        }
    }
}

.img-carousel-modal {
    .modal {
        width: 100%;
        max-width: 100%;
        height: 100%;
        border-radius: 0;
        background-color: black;
    }
    .modal .modal-header {
        background-color: black;
    }

    .btn-close {
        color: white;
        &:hover {
            background: #4a4a4a;
        }
    }
    .children-wrapper {
        padding: 0;
        display: flex;
        align-items: center;
        height: calc(100% - 72px);
        @include for-narrow-layout {
            padding-inline: 18px;
        }
    }
    .stay-img-carousel {
        position: static;
        margin-top: 0;
        @include for-narrow-layout {
            max-width: 1053px;
            // max-height: 88vh;
            margin: auto;
        }
    }

    @include for-narrow-layout {
        .carousel,
        .slider-warpper,
        .slider-animated,
        .stay-img-wrapper {
            max-height: calc(100vh - 140px);
        }
        .stay-img-wrapper {
            img {
                object-fit: contain;
            }
        }
    }

    .action-btns-container {
        z-index: 3;
    }

    .slider-wrapper {
        cursor: default;
    }
}

.amenities-modal {
    @include for-narrow-layout {
        padding: 40px;
    }
    .modal {
        width: 100%;
        max-width: 780px;
    }
}
