.search-destination {
    h2 {
        display: none;
    }

    .destinations-container {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(6, 1fr);
        overflow-x: scroll;
        gap: 18px;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    @include for-narrow-layout {
        padding: 8px 55px 55px;
        position: absolute;
        top: 100%;
        margin-top: 12px;
        background-color: white;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 8px 16px rgba(0, 0, 0, 0.15);
        border-radius: 32px;

        h2 {
            display: block;
            font-size: 14px;
            font-family: $font-family-bold;
            margin-block: 2rem;
        }

        .destinations-container {
            display: grid;
            grid-template-columns: repeat(3, min-content);
            grid-template-rows: 1fr 1fr;
            gap: 1.5rem 0.85rem;
        }
    }

    .destination-wrapper {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 8.4rem;
        @include for-narrow-layout {
            gap: 0.3rem;
            width: 8.1rem;
        }
        img {
            cursor: pointer;
            border: 2px solid $light-grey;
            border-radius: 1rem;
            transition: border-color 0.15s ease-in-out;
            @include for-narrow-layout {
                border-width: 1px;
            }
            &:hover,
            &.active {
                border-color: #000000;
            }
        }
        span {
            font-size: 14px;
            margin-left: 2px;
            @include for-narrow-layout {
                margin-left: 0;
            }
        }
    }
}
