.search-teaser {
    font-size: 14px;
    border: 1px solid #dddddd;
    border-radius: 2.5rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.2s ease;
    position: relative;
    &:hover {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    }
    .btn {
        height: 3.2rem;
    }

    .btn-location {
        padding-left: 8px;
    }

    .btn-guests {
        color: $sub-text-clr;
    }
    span {
        padding-inline: 1rem;
    }
    .divider {
        box-shadow: inset -1px 0 0 0 #ebebeb;
        font-family: $font-family-medium;
    }

    .search-wrapper {
        width: 3.2rem;
        scale: 0.7;
        font-size: 1.145rem;
        background: $brand-clr;
        color: #fff;
        border-radius: 50%;
    }
}
