.reservation-summary {
    h4 {
        font-size: 18px;
        font-family: $font-family-medium;
        color: $brand-clr;
        margin-block: 24px 12px;
    }
    h5 {
        font-size: 16px;
        font-family: $font-family-medium;
    }
    .trip-wrapper,
    .pricing-wrapper {
        position: relative;
        padding-bottom: 24px;
        &::after {
            @include afterSeperator;
        }

        & > * {
            display: flex;
            justify-content: space-between;
            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
    }
    .stay-listing-card {
        padding-block: 0 28px;
        .listing-details {
            grid-template-rows: repeat(3, 1fr);
            gap: 8px;
            font-size: 16px;
        }
        .stay-name {
            align-self: center;
        }
    }
}
