.stay-filter {
    width: 81.5%;
    height: 87.6vh;
    justify-self: center;
    background: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 6.5vh;
    z-index: 3;

    .filter-header {
        // padding: 1.305rem;
        padding: 1.305rem 24px;
        border-bottom: 1px solid #ebebeb;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn-close {
        position: absolute;
        left: 1rem;
        top: 1rem;
        color: $main-text-clr;
        padding: 0.5em;
    }

    h3 {
        font-size: inherit;
        font-family: $font-family-medium;
        font-family: $font-family-bold;
    }

    .stay-filters-container {
        overflow-y: scroll;
        margin-bottom: 108px;
        & > * {
            padding: 32px 24px;
            border-bottom: 1px solid #ebebeb;
        }
        .filter-title {
            font-family: $font-family-medium;
        }

        .filter-sub-title {
            color: $sub-text-clr;
            font-size: 16px;
            padding-block: 0.5em 40px;
        }
    }

    .filter-footer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: absolute;
        bottom: 0;
        padding: 1.07rem 0.9rem;
        border-top: 1px solid #ebebeb;
    }

    .btn-clear-filters {
        font-size: 16px;
        text-decoration: underline;
        font-family: $font-family-medium;
        color: $main-text-clr;
        padding: 10px;
        border-radius: 0.5em;
        &:hover {
            color: black;
            background: #f7f7f7;
        }
    }
}
