.stay-preview {
    display: flex;
    flex-direction: column;
    // width: 100%;
    border-radius: 1rem;
    cursor: pointer;
    gap: 0.75rem;
    position: relative;

    .btn-wish-list {
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 1;
        transition: transform 0.25s ease;
        &:hover {
            transform: scale(1.1);
        }
        svg {
            fill: rgba(0, 0, 0, 0.5);
            height: 24px;
            width: 24px;
            stroke: white;
            stroke-width: 2;
            overflow: visible;
        }
        &.saved svg {
            fill: #ff385c;
        }
    }

    .stay-details-wrapper {
        display: flex;
        flex-direction: column;
        line-height: 19px;
        position: relative;
        gap: 0.15rem;
        .stay-location {
            font-size: 1rem;
            font-weight: 600;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            width: 85%;
        }

        .stay-rating {
            display: flex;
            align-items: center;
            position: absolute;
            right: 0;
            gap: 4px;
            svg {
                display: block;
                height: 13px;
                width: 12px;
                fill: currentcolor;
            }
        }

        .stay-type,
        .avaliable-dates {
            color: $sub-text-clr;
            // overflow: clip;
        }
        .wrapper {
            display: flex;
            flex-direction: column;
        }
        .stay-price {
            display: flex;
            gap: 0.3rem;
            font-family: $font-family-medium;
            margin-top: 0.4rem;
            span {
                font-family: $font-family-regular;
            }
        }
    }
}
