.trips {
    font-size: 16px;

    .header {
        padding: 24px;
        position: sticky;
        top: 0;
        background: white;
        z-index: 3;
    }

    h1 {
        font-size: 32px;
        padding-block: 48px 24px;
    }
    h2 {
        padding-block: 24px;
    }

    .trips-stays-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 40px 24px;
        grid-auto-flow: row dense;
    }
}
