.stay-listing-card {
    padding-block: 24px;
    display: flex;
    font-size: 12px;

    .stay-img-wrapper {
        min-width: 124px;
        width: 124px;
        aspect-ratio: 1/0.85;
        img {
            height: 100%;
            border-radius: 8px;
        }
    }
    .listing-details {
        display: grid;
        grid-template-rows: auto 1fr auto;
        padding-left: 12px;
    }

    .stay-type {
        color: $sub-text-clr;
    }
    .stay-name {
        font-size: 14px;
        line-height: 18px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        // width: 85%;
    }
    .stay-rating {
        display: flex;
        align-self: end;
        line-height: 1;
        margin-top: 8px;

        .avg-rating {
            padding-inline: 3px;
            font-family: $font-family-medium;
        }
    }
}
