.host-listings {
    font-size: 16px;
    .host-header {
        padding: 18.5px 21px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
    }
    h1 {
        padding-top: 64px;
        font-size: 32px;
    }

    h2 {
        font-size: 22px;
        padding-block: 32px 16px;
    }
    h3 {
        font-size: 18px;
        font-family: $font-family-medium;
    }

    .listings-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 40px 24px;
        grid-auto-flow: row dense;
    }

    .listing-wrapper {
        border: 1px solid #dddddd;
        padding: 24px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
        border-radius: 8px;
    }

    .listing-details {
        grid-template-rows: repeat(4, auto);
        gap: 8px;
    }
    .stay-name {
        -webkit-line-clamp: 2;
    }
    .stay-rating {
        // align-self: start;
        margin-top: 0;
    }
    .listing-price {
        align-self: end;
        line-height: 1;
    }
    .actions-wrapper {
        display: grid;
        grid-template-columns: 1fr 0.3fr;
        grid-template-rows: 1fr 1fr;
        gap: 12px;
    }
    .btn-save {
        width: 100%;
    }
    .btn-preview {
        border-color: black;
        border: 1px solid #222222;
        border-radius: 0.5rem;
        margin-right: 6px;
        grid-area: 1/1/3/3;
        height: 48px;
        width: 100%;
        &:hover {
            background: #f7f7f7;
        }
    }

    .btn-delete {
        background-color: #c72905;
        color: white;
        font-size: 16px;
        font-family: 'Cereal-Bold', Arial, Helvetica, sans-serif;
        height: 48px;
        border-radius: 6px;
        padding-inline: 6px;
    }
    // .listing-header {
    //     display: grid;
    //     grid-template-columns: 1.5fr repeat(4, 1fr);
    //     & :first-child {
    //         // width: 150px;
    //     }
    // }
    // .listing-wrapper {
    //     display: grid;
    //     grid-template-columns: 1.5fr repeat(4, 1fr);
    // }
    // .stay-info-wrapper {
    //     display: flex;
    //     flex-direction: column;
    //     gap: 12px;
    //     img {
    //         width: 100px;
    //     }
    // }
}
