.reservations {
    overflow-x: auto;
    font-size: 14px;

    .host-header {
        padding: 18.5px 21px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
    }

    .reservations-header {
        margin-block: 32px 28px;
    }

    .table-container {
        overflow-x: auto;
        &.scrolled {
            .guest {
                background-color: white;
                &::after {
                    box-shadow: inset 10px 0 10px -10px rgba(0, 0, 0, 0.15);
                }
            }
        }
    }

    table {
        display: inline-table;
        border-collapse: separate;
        text-indent: initial;
        width: 100%;
    }

    tr {
        &:not(:first-child) > * {
            border-top: 1px solid #ebebeb;
        }
        &:last-child > * {
            border-bottom: 1px solid #ebebeb;
        }
        &:hover {
            border-radius: 8px;
            background: #f7f7f7;
            border-top-color: #f7f7f7;
            box-shadow: -18px 0 0 0 #f7f7f7, 18px 0 0 0 #f7f7f7;
        }
    }

    th {
        box-shadow: 0 -2px 0 #ffffff, 0 1px 0 #ebebeb;
        text-align: left;
        text-transform: uppercase;
        white-space: nowrap;
        // position: sticky;
        // top: 0;
        background-color: white;
        font-size: 12px;
        color: $sub-text-clr;
        line-height: 16px;
        padding: 8px;
        &:hover {
            color: $main-text-clr;
        }
    }

    td {
        padding: 16px 8px;
        // font-size: 14px;
        &.guest,
        &.status {
            font-family: $font-family-bold;
        }
    }

    .guest {
        position: sticky;
        left: 0;
        z-index: 2;
        min-width: 100px;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            width: 10px;
            height: 100%;
            right: -10px;
            transition: box-shadow 0.2s ease-in-out;
        }
    }
    .listing {
        min-width: 200px;
    }
    .guest p,
    .listing p {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .actions-wrapper {
        display: flex;
        gap: 8px;
        & > * {
            height: 32px;
            padding: 8px 15px;
            transition: all 0.15s ease-in-out;
        }
        &.disabled {
            & > * {
                cursor: not-allowed;
                opacity: 0.5;
            }
        }
    }
}
