.pricing-summary {
    margin-top: 24px;
    & > * {
        display: flex;
        justify-content: space-between;
        &:not(:last-child) {
            padding-bottom: 16px;
        }
    }

    .air-bnb-fee {
        position: relative;
        &::after {
            @include afterSeperator;
        }
    }

    .total-price {
        margin-top: 24px;
        font-family: $font-family-medium;
    }
}
