.stay-host {
    padding-block: 32px 24px;
    font-size: 16px;
    .host-details-container {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        margin-bottom: 24px;
        @include for-narrow-layout {
            flex-direction: row-reverse;
            justify-content: start;
        }

        img {
            width: 56px;
            border-radius: 50%;
        }
        h2 {
            font-size: 22px;
            font-family: $font-family-medium;
        }
        p {
            font-size: 14px;
            color: $sub-text-clr;
        }
    }

    .host-attrs {
        display: flex;
        align-items: center;
        flex-direction: column;
        align-items: start;
        gap: 1rem;
        margin-bottom: 24px;

        .reviews {
            font-size: 19px;
        }
        .verified {
            font-size: 17px;
        }
        span {
            margin-inline: 9px 0px;
            line-height: 20px;
        }
        @include for-narrow-layout {
            flex-direction: row;
            gap: 0.5rem;

            span {
                margin-inline: 10px 15px;
            }
        }
    }

    .super-host {
        margin-bottom: 24px;
        h4 {
            font-family: $font-family-medium;
            margin-bottom: 6px;
        }
    }

    .response-rate {
        margin-bottom: 6px;
    }

    .btn-contact {
        width: 100%;
        @include for-narrow-layout {
            width: max-content;
        }
        margin-block: 24px;
        border: 1px solid #222222;
        border-radius: 0.5em;
        padding: 12px 22px;
        font-family: $font-family-medium;
        &:hover {
            border-color: black;
            background: #f7f7f7;
        }
    }

    .disclaimer {
        display: flex;
        gap: 1rem;

        img {
            width: 24px;
        }
        p {
            font-size: 12px;
        }
        @include for-narrow-layout {
            flex-direction: row-reverse;
            p {
                width: 28%;
            }
        }
    }
}
