.stay-review {
    min-width: 280px;
    max-height: 260px;
    border: 1px solid $light-grey;
    border-radius: 12px;
    padding: 16px;

    @include for-narrow-layout {
        border: none;
        padding: 0;
    }
    font-size: 16px;
    // height: 116px;
    margin-bottom: 2.5rem;
    .review-header {
        display: flex;
        gap: 0.75rem;
        margin-bottom: 12px;

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
        h4 {
            font-family: $font-family-medium;
        }
        span {
            font-size: 14px;
            color: $sub-text-clr;
        }
    }

    .review-desc {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}
