.stay-map {
    font-size: 16px;
    padding-block: 32px 24px;

    h2 {
        font-family: $font-family-medium;
        padding-bottom: 24px;
        font-size: 22px;
    }

    h4 {
        margin-block: 24px 16px;
        font-family: $font-family-medium;
    }

    .btn-more {
        font-family: $font-family-medium;
        margin-top: 16px;
    }
}
