.stay-reviews {
    padding-block: 32px 24px;
    overflow-x: scroll;
    @include for-narrow-layout {
        overflow-x: hidden;
    }
    .stay-rating {
        font-family: $font-family-medium;

        margin-bottom: 32px;
        & > * {
            font-size: 22px;
            margin-right: 6px;
        }

        svg {
            font-size: 19px;
        }
    }

    .categories-rating-container {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 32px;
        column-gap: 13.5%;
    }

    .reviews-container {
        display: flex;
        gap: 16px;

        @include for-narrow-layout {
            flex-direction: column;
            gap: 0;
        }

        @include for-wide-secondary-layout {
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 14%;
            .stay-review {
                width: 43%;
            }
        }
    }

    .btn-more-reviews {
        font-size: 16px;
        width: 100%;
        @include for-narrow-layout {
            width: max-content;
        }
        margin-top: 24px;
        border: 1px solid $main-text-clr;
        border-radius: 0.5em;
        padding: 12px 22px;
        font-family: $font-family-medium;
        &:hover {
            border-color: black;
            background: #f7f7f7;
        }
    }
}
