.stay-header {
    font-size: 14px;
    .stay-title {
        font-family: $font-family-medium;
        font-size: 26px;
    }
    .stay-teaser {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: $font-family-medium;
        margin-top: 8px;
        // @include for-narrow-layout {
        //     margin-top: 0;
        // }
    }

    .stay-info {
        flex-wrap: wrap;
        .dot-seperator {
            margin-inline: 8px;
        }

        .stay-rating {
            .dot-seperator {
                margin-inline: 4px;
            }
            svg {
                font-size: 16px;
                margin-right: 2px;
            }
        }

        .super-host {
            font-family: $font-family-regular;
            svg {
                font-size: 12px;
                margin-right: 10px;
            }
        }
    }

    .action-btns-container {
        display: flex;
        align-items: center;
        gap: 16px;

        button {
            font-size: 14px;
        }
        svg {
            font-size: 16px;
            margin-right: 8px;
        }
    }
}
