.stay-reviews {
    .stay-rating {
        font-family: $font-family-medium;
        margin-bottom: 32px;
        & > * {
            font-size: 22px;
            margin-right: 6px;
        }

        svg {
            font-size: 19px;
        }
    }

    .categories-rating-container {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 32px;
    }

    .reviews-container {
        display: flex;
        flex-direction: column;
    }
}
