.reserve-guests {
    background: white;
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin: 0;
    position: absolute;
    top: 194px;
    right: 24px;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 6px, rgba(0, 0, 0, 0.07) 0px 0px 0px 1px;
    border-radius: 4px;

    & > *:not(.btn-close) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
        padding-block: 12px;
    }

    .guest-title {
        text-transform: capitalize;
        font-family: $font-family-bold;
    }

    .guest-desc {
        color: $sub-text-clr;
        font-size: 14px;
        line-height: 18px;
    }

    .counter {
        grid-area: 1/2/3/3;
        justify-self: end;
    }
    .btn-close {
        align-self: flex-end;
        font-size: 16px;
        font-family: $font-family-bold;
        padding-bottom: 6px;
    }
}
