.main-layout {
    display: grid;
    grid-template-columns: $layout-padding-mobile 1fr $layout-padding-mobile;

    > * {
        grid-column: 2;
    }

    > *.full {
        grid-column: 1 / -1;
    }

    @include for-mobile-layout {
        @include layoutGTC($layout-padding-mobile);
    }
    @include for-narrow-layout {
        @include layoutGTC($layout-padding-normal);
    }

    @include for-normal-layout {
        @include layoutGTC($layout-padding-normal);
    }

    @include for-wide-layout {
        @include layoutGTC($layout-padding-wide);
    }
}
