.stay-page {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;

    .app-header {
        position: relative;
    }

    .stay-header,
    .layout-wrapper,
    .stay-things-to-know {
        padding-block: 24px;
    }

    .stay-header,
    .layout-wrapper,
    .stay-reviews,
    .stay-map,
    .stay-host,
    .stay-things-to-know {
        @include for-narrow-layout {
            padding-block: 48px;
        }
        position: relative;
        &::after {
            content: '';
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1;
            box-shadow: rgba(0, 0, 0, 0.08) 0 1px 0;
            pointer-events: none;
        }
    }

    .saved svg {
        fill: rgb(255, 56, 92);
        stroke: rgb(255, 56, 92);
    }

    @include for-narrow-layout {
        .stay-header {
            padding-block: 24px 0;
            &::after {
                content: none;
            }
        }
        .layout-wrapper {
            display: grid;
            grid-template-columns: 1fr 0.6fr;
            gap: 4rem;
        }
    }

    .modal-wrapper {
        .modal {
            height: 100%;
            overflow-y: scroll;
            position: relative;
            @include for-narrow-layout {
                width: 90.5%;
                height: 90.5%;
            }
        }
        .modal-header {
            position: sticky;
            top: 0;
            z-index: 3;
            background: white;
        }
    }

    .reviews-modal {
        .stay-reviews {
            overflow-x: hidden;
            padding-block: 0;
            flex-direction: column;
        }

        .stay-rating > * {
            font-size: 26px;
            svg {
                margin-top: 2px;
            }
        }

        .categories-rating-container {
            grid-template-columns: 1fr;
        }

        .reviews-container {
            flex-direction: column;
            gap: 0;
        }

        .stay-review {
            border: none;
            padding: 0;
        }

        @include for-narrow-layout {
            .stay-rating > * {
                font-size: 32px;
            }

            .categories-rating-container {
                grid-template-columns: 1fr 1fr;
            }
        }
    }

    .app-footer {
        position: relative;
    }
}
