.stay-page {
    .layout-wrapper {
        display: grid;
        grid-template-columns: 1fr 0.75fr;
        gap: 4rem;
        padding-block: 48px;
        position: relative;
        &::after {
            content: '';
            height: 100%;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 3;
            box-shadow: rgba(0, 0, 0, 0.08) 0 1px 0;
            pointer-events: none;
        }
    }
}
