.stay-page {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;

    .app-header {
        position: relative;
    }

    .stay-header,
    .layout-wrapper,
    .stay-things-to-know {
        padding-block: 24px;
    }

    .stay-header,
    .layout-wrapper,
    .stay-reviews,
    .stay-map,
    .stay-host,
    .stay-things-to-know {
        @include for-narrow-layout {
            padding-block: 48px;
        }
        position: relative;
        &::after {
            @include afterSeperator;
        }
    }

    .saved svg {
        fill: rgb(255, 56, 92);
        stroke: rgb(255, 56, 92);
    }

    @include for-narrow-layout {
        .stay-header {
            padding-block: 24px 0;
            &::after {
                content: none;
            }
        }
        .layout-wrapper {
            display: grid;
            grid-template-columns: 1fr 0.6fr;
            gap: 4rem;
        }
    }

    .reviews-modal {
        .stay-reviews {
            overflow-x: hidden;
            padding-block: 0;
            flex-direction: column;
        }

        .stay-rating > * {
            font-size: 26px;
            svg {
                margin-top: 2px;
            }
        }

        .categories-rating-container {
            grid-template-columns: 1fr;
        }

        .reviews-container {
            flex-direction: column;
            gap: 0;
        }

        .stay-review {
            border: none;
            padding: 0;
        }

        @include for-narrow-layout {
            .stay-rating > * {
                font-size: 32px;
            }

            .categories-rating-container {
                grid-template-columns: 1fr 1fr;
            }
        }
    }

    .location-modal {
        .children-wrapper {
            height: 85%;
        }
        .stay-map {
            height: 100%;
            display: grid;
            grid-template-rows: repeat(3, max-content) 1fr;
            row-gap: 14px;
            padding: 0;
            &::after {
                content: none;
            }
            h2 {
                font-size: 26px;
                font-family: $font-family-bold;
                padding: 0;
            }
            .map-wrapper {
                grid-area: 4/1/5/2;
                margin-top: 24px;
                height: 100%;
            }
            h4 {
                margin-block: 0;
            }

            @include for-narrow-layout {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto auto 1fr;
                align-items: start;
                column-gap: 32px;

                .map-wrapper {
                    grid-area: 1/2/4/3;
                    margin-top: 0;
                }
                h2 {
                    font-size: 32px;
                }
                h4 {
                    margin-block: 0 18px;
                }
            }
        }
    }

    .app-footer {
        position: relative;
    }
}
