.stay-summary {
    padding-block: 32px;
    @include for-narrow-layout {
        padding-block: 32px 48px;
    }
    font-size: 16px;
    .summary-translation {
        display: flex;
        gap: 0.75em;
        img {
            width: 16px;
            height: 100%;
        }
    }

    .summary {
        padding-top: 32px;
    }
}
