.stay-amenities {
    font-size: 16px;

    padding-block: 32px 24px;
    @include for-narrow-layout {
        padding-block: 48px;
    }

    h3 {
        font-size: 22px;
        font-family: $font-family-medium;
        padding-bottom: 24px;
    }

    @include for-wide-secondary-layout {
        .amenities-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    .amenity-wrapper {
        // display: flex;
        // gap: 0.5em;
        padding-bottom: 1em;
    }
    .btn-more-amenities {
        width: 100%;
        @include for-narrow-layout {
            width: max-content;
        }
        margin-top: 24px;
        border: 1px solid $main-text-clr;
        border-radius: 0.5em;
        padding: 12px 22px;
        font-family: $font-family-medium;
        &:hover {
            border-color: black;
            background: #f7f7f7;
        }
    }
}
