.stay-details {
    & > *:not(:last-child) {
        position: relative;
        &::after {
            content: '';
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1;
            box-shadow: rgba(0, 0, 0, 0.08) 0 1px 0;
            pointer-events: none;
        }
    }

    .reserve-dates {
        padding-block: 24px;
        @include for-narrow-layout {
            padding: 48px 0;
        }
        position: static;
        z-index: 0;
        box-shadow: none;
        .rdrDateRangePickerWrapper,
        .rdrCalendarWrapper,
        .rdrMonth {
            // width: 480px;
            width: 100%;
            // font-size: 1.1em;
        }

        .rdrDefinedRangesWrapper {
            display: none;
        }
    }
}
